/node_modules
/public/hot
/public/storage
/public/js/shunks
/storage/*.key
/vendor
/public/js/dashboard/App.js
.env
.env.backup
/.env.*.local
/.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json

/.idea/
/.vscode
/vendor/
